/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 juin 2020, 12:40:23
    Author     : erogue
*/

/*on redimensionne la banniere*/
/*1920x400 mini*/
.image {
    background-size: cover;
    background-position: 50% 63%;
    width: 1920px;
    height: 400px;
}

.image img {
    display: none;
}

@media screen and (max-width:768px) {
    
    
    .image {
    background-size: cover;
    background-position: 50% 63%;
    width: 768px;
    height: 160px;
    }
}