* {
    font-family: 'CenturyGothicRegular';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face{ 
    font-family: "CenturyGothicRegular";
    src: url('polices/CenturyGothicRegular.ttf') format("truetype");
}

h1 {
    margin-top: 25px;
}



body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #D3D3D3;
}

header {
    display: flex;
    flex-direction: column;
}


nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
}
nav ul li {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-grow: 1;
}

nav ul li a {
    padding: 10px;
    color: #007FFF;
}
nav ul li:hover {
    background-color: #D3D3D3;
}

nav input {
    display: none;
}

.actif{
    background-color:#D3D3D3; 
}

.menu{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mainText {
    width: 80%;
    margin-top: 25px;
    border-radius: 10px;
    background-color: #e0e0e0;
    padding: 15px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    height: 35px;
    width: 100%;
    background-color:#2d2d2d;
    color: #bbb;
    text-align:center;
}

footer p {
    font-size: small;
}

/* Smartphone */
@media screen and (max-width:768px) {
    
    
    header, section {
        width: auto;
    }

    nav {
        /*display: block;*/
        position: relative;
        top: 7px;
        left: 7px;
        z-index: 1;
    }

    nav ul {
        display: flex; /* Ce conteneur est "flexible" */
        flex-direction: column; /* Les éléments sont mis côte à côte */
        align-items: flex-start; /* Alignement sur la gauche */
        position: absolute;
        margin: -39px 0 0 -60px;
        padding: 50px 10px 10px 60px;
        background: whitesmoke;
        list-style-type: none;
        transform: translate(-100%, 0);
        transition: transform 0.5s ease;
    }

    nav ul li {
        display: list-item;
        padding: 10px 0;
        width: 100%;
    }


    nav input {
        display: block; /* Affichage de l'input pour pouvoir cliquez dessus */
        position: absolute;
        opacity: 0; /* input transparent */
        z-index: 2; /* On le place au-dessus du bouton de menu (hamburger) */
    }

    /* Création artificielle de l'icone de menu (hamburger) */
    nav span {
        display: block;
        width: 30px;
        height: 5px;
        margin-bottom: 5px;
        position: relative;
        background: #007FFF;
        border-radius: 3px;
        z-index: 1; /* En dessous de l'input défini avant */
        /*transform-origin: 4px 0px; /* Modification du centre pour rotation */
        transition: transform 0.5s ease, background 0.5s ease, opacity 0.55s ease;
    }
    nav input:checked ~ span {
        background: #007FFF;
    }

    /* On fait pivoter la première de 45° (sens horaire) */
    nav input:checked ~ span:nth-child(2) {
        transform: rotate(45deg) translate(7px, 5px);
    }

    /* On fait pivoter la dernière de 45° (sens anti-horaire) */
    nav input:checked ~ span:nth-child(4) {
        transform: rotate(-45deg) translate(10px, -6px);
    }

    /* On cache la barre du milieu */
    nav input:checked ~ span:nth-child(3) {
        opacity: 0; 
    }

    /* On annule la translation vers la gauche qui a caché le menu */
    nav input:checked ~ ul {
        transform: none;
    }

    footer {
        display: none;
    }
    
}
